/* Generelle settings */
:root {
    --colorOne: #0b0d0e;
    --colorOneOpas: rgba(11, 13, 14, 0.35);
    --colorTwo: rgb(39, 2, 3);
    --colorThree: black;
    --fontColor: white;
    font-size: 62.5%;
    --fontOne: 'Amatic SC', cursive;
    --fontTwo: 'Open Sans Condensed', sans-serif;
}


body {
    margin: 0 auto;
    background-color: var(--colorOne);
}

main {
    background-color: var(--colorOne);
    margin-bottom: 50px;
}

h1 {
    font-size: 6em;
    color: var(--fontColor);
    font-family: var(--fontOne);
}

h2 {
    font-size: 3em;
    color: var(--fontColor);
    font-family: var(--fontTwo);
}

h3 {
    font-size: 2.5em;
    color: var(--fontColor);
    font-family: var(--fontTwo);
}

p {
    font-size: 2em;
    color: var(--fontColor);
    font-family: var(--fontTwo);
}

li {
    color: var(--fontColor);
    font-size: 2em;
    font-family: var(--fontTwo);
    list-style-type: none;
}

footer {
    width: 100vw;
    height: 100px;
    background-color: var(--colorThree);
}

/*gennerelle settings slut*/

#frontpage {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 40% auto 1fr;
}

/**/

picture {
    width: 100%;
    object-fit: contain;
}

.background {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;

}

section {
    background-color: var(--colorOne);
    margin: 0 5%;
    margin-top: 50px;
    padding-top: 20px;
}

section img {
    width: 100%;
}

section h1 {
    text-align: center;
}

/*forsiden*/

#frontpage div {
    min-width: 250px;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Button Settings */

#frontpage button {
    width: 200px;
    margin: 10px;
    background-color: transparent;
    border-color: transparent;
}

#frontpage button img {
    width: 100%;
}

.logo {
    max-width: 200px;
    grid-column: 2;
    grid-row: 1;
    place-self: center;
}


/* Button Settings Slut*/



.data_courses {
    display: grid;
    grid-gap: 50px;
    margin-top: 50px;
}

/* BackToTop button*/

.backToTop {
    display: none;
}

/* menuPage start*/

span {
    color: white;
    font-size: 2.5em;
}

#menuPage h2 {
    text-align: center;
    text-transform: uppercase;

}

.filtrering {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filtrering button {
    height: 30px;
    font-size: 2em;
    background-color: transparent;
    border-color: transparent;
    font-weight: 100;
    color: white;
}


/************ MODEL VISNING **********/

#modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 1);
    opacity: 0;
    transition: 1s;
    pointer-events: none;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto 1fr;
}

#modal-content {
    margin: 0 10px;
    grid-column: 2;
    grid-row: 2;
    max-width: 490px;
    height: 70vh;
    cursor: pointer;
}

#modal-content h2 {
    justify-self: center;
}

#modal.show {
    opacity: 1;
    transition: 0.5s;
    pointer-events: all;
}

#modal img {
    width: 100%;
    height: 60vh;
    object-fit: scale-down;
}

/******** MODAL SLUT **********/

/* menuPage slut*/


/* bookingPage Start*/

#bookingPage article .bookingForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 70% 70% 70% 70% 1fr;
}


.datetime {
    grid-column: 1;
    grid-row: 2;
}

.guest {
    grid-column: 1;
    grid-row: 3
}

.tel {
    grid-column: 1;
    grid-row: 4;
}

.tel h2 {
    padding-bottom: 12px;
}

.submit {
    width: 100px;
    grid-column: 1;
    grid-row: 5;
}

input {
    cursor: pointer;
    width: 100%;
    height: 30px;
    font-family: var(--fontTwo);
    font-size: 2em;
}

.datetime input {
    cursor: pointer;
    width: 180px;
    height: 30px;
    font-family: var(--fontTwo);
    font-size: 2em;
}

.submit form {
    margin-top: 10%
}

label {
    color: transparent;
}

/* AboutUs page Start*/

#aboutusPage article {
    display: grid;
}

.map {
    place-self: center;
}

.address {
    place-self: center;
}



/*AboutUs page slut*/

@media screen and (min-width:480px) {

    .data_courses {
        grid-template-columns: repeat(2, 1fr);
    }

    .logo {
        max-width: 100px;
    }

}

@media screen and (min-width:768px) {

    .data_courses {
        grid-template-columns: repeat(3, 1fr);
    }

    #bookingPage article .bookingForm {
        display: grid;
        grid-template-columns: 1fr 100px 1fr;
        grid-template-rows: 70% 70% 70% 1fr;
        grid-gap: 30px;
    }

    .datetime {
        grid-column: 1;
        grid-row: 2;
    }

    .guest {
        grid-column: 1;
        grid-row: 3
    }

    .guest h2 {
        padding-bottom: 12px;
    }

    .tel {
        grid-column: 1;
        grid-row: 4;
    }

    .submit {
        grid-column: 1;
        grid-row: 5;
    }

    #aboutusPage article {
        grid-template-columns: 1fr 360px 360px 1fr;
        grid-template-rows: 250px 1fr;
    }

    .txt {
        grid-column: 2 / span 2;
        grid-row: 1;
    }

    .address {
        grid-column: 2;
        grid-row: 2;
    }

    .map {
        grid-column: 3;
        grid-row: 2;
    }

    /*    backToTop start - knap som sender brugeren tilbage til toppen af siden*/

    .backToTop {
        display: block;
        width: 150px;
        position: fixed;
        right: 50px;
        bottom: 10px;
    }

    .backToTop img {
        width: 100%;
    }

    .hide {
        display: none;
    }

    /*    backToTop slut */

    #frontpage picture {
        z-index: 2;
    }

    #frontpage button {
        z-index: 2;
    }

    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--colorOneOpas);
        z-index: 1;
    }

    .logo {
        max-width: 200px;
    }
}

@media screen and (min-width:1024px) {
    .logo {
        max-width: 300px;
    }
}


@media screen and (min-width:1200px) {

    .data_courses {
        grid-template-columns: repeat(4, 1fr);
    }

    #bookingPage article .bookingForm {
        display: grid;
        grid-template-columns: 1fr 200px 200px 200px 1fr;
        grid-template-rows: 1fr 70px 70px 1fr;
        grid-column-gap: 100px;
        grid-row-gap: 80px;
    }


    .datetime {
        grid-column: 2;
        grid-row: 2;
    }

    .datetime h2 {
        padding-bottom: 12px;
    }

    .guest {
        grid-column: 3;
        grid-row: 2
    }

    .tel {
        grid-column: 4;
        grid-row: 2;
    }

    .submit {
        grid-column: 2 / span 3;
        grid-row: 3;
        place-self: center;
    }

    #frontpage {
        grid-row-gap: 50px;
    }

    .logo {
        margin-top: 50px;
        max-width: 500px;
        grid-column: 2;
        grid-row: 1;
        place-self: center;
    }
}
