/* Generelle settings */
:root {
    --colorOne: #0b0d0e;
    --fontColor: white;
    font-size: 62.5%;
    --fontOne: 'Amatic SC', cursive;
    --fontTwo: 'Economica', sans-serif;
}

body {
    margin: 0 auto;
    background-color: var(--colorOne);
}


main {
    background-color: var(--colorOne);
    margin-bottom: 50px;
}

h1 {
    font-size: 4em;
    color: var(--fontColor);
    font-family: var(--fontOne);
}

h2 {
    font-size: 2em;
    color: var(--fontColor);
    font-family: var(--fontTwo);
}

p {
    font-size: 2em;
    color: var(--fontColor);
    font-family: var(--fontTwo);
}

li {
    color: var(--fontColor);
    font-size: 2em;
    font-family: var(--fontTwo);
    list-style-type: none;
}

/*gennerelle settings slut*/

.frontpage {
    width: 100vw;
    height: 100vh;
    background-image: url(img/Untitled-1background.jpg);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr 50px 50px 50px 1fr;
}

section {
    background-color: var(--colorOne);
    margin: 0 5%;
}

section img {
    width: 100%;
}

section h1 {
    text-align: center;
}

/*forsiden*/


.logo {
    min-width: 150px;
    grid-column: 2;
    grid-row: 1;
    place-self: center;
}

.frontpage div {
    min-width: 250px;
    grid-column: 2;
    grid-row: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    width: 250px;
    height: 60px;
    margin: 10px;
    border-radius: 50px;
    font-size: 3em;
    font-family: var(--fontOne);
    font-weight: bold;
}

.data_courses {
    display: grid;
    grid-gap: 20px;
}

/* AboutUs page Start*/

#aboutusPage article {
    display: grid;
}

.map {
    place-self: center;
}

.address {
    place-self: center;
}


/*AboutUs page slut*/

@media screen and (min-width:480px) {

    .data_courses {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (min-width:720px) {
    #aboutusPage article {
        grid-template-columns: 1fr 1fr;
    }

    .txt {
        grid-column: span 2;
    }
}


@media screen and (min-width:1200px) {

    .data_courses {
        grid-template-columns: repeat(5, 1fr);
    }
}
